/*Colour vars*/
:root {
  --pri: #0d131f;
  --sec: #e6eaf2;
  --acc: #153333;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  overflow-y: hidden;
}
/*Custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--pri);
}
::-webkit-scrollbar-thumb {
  background-color: #e6eaf22d;
  width: 6px;
  transition: all 0.5s;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--sec);
  transition: all 0.5s;
}
/*Font vars*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

/*Animations*/
@keyframes ascend {
  from {
    margin-top: 20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes settle {
  from {
    transform: translate(15px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes softpop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
#ascend {
  animation: ascend 0.5s forwards;
  animation-delay: 0.5s;
}
#softpop {
  animation: softpop 0.5s forwards;
  animation-delay: 1s;
}
.settle {
  animation: settle 0.5s forwards;
}

/*Loading animation*/
@keyframes load-shell {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes load-bar {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading-container {
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 5px solid var(--sec);
  animation: load-shell infinite 2s;
}
.loadingbar {
  display: block;
  width: 60px;
  height: 60px;
  opacity: 0.4;
  backdrop-filter: blur(10px);
  background-color: var(--sec);
  animation: load-bar infinite 2s;
}

/*Hover Classes reserved for non-touch devices*/
@media (hover: hover) and (pointer: fine) {
  .dp:hover {
    filter: drop-shadow(5px 5px 10px #000000a1);
    transition: all 0.25s;
  }
  .cta:hover {
    background-color: #112b2b;
    box-shadow: #000000c5 8px 8px 5px;
    transition: all 0.25s;
  }
  .social-icon:hover {
    background-color: #e6eaf2ef;
    opacity: 1;
    transition: 0.25s;
  }
  .email:hover {
    background-color: #e6eaf211;
    opacity: 1;
    transition: 0.25s;
  }
  .gitcard:hover {
    background-color: #112b2b5d;
    box-shadow: #00000077 8px 8px 5px;
    transition: all 0.25s;
  }
}

/*background and particles*/
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: auto;
  background-color: var(--pri);
  font-family: "Montserrat";
}
.scrolltotop {
  font-weight: normal;
  font-size: 30px;
  background-color: var(--acc);
  width: min-content;
  padding: 0 12px 4px;
  color: var(--sec);
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: #0000004b 3px 3px 10px;
  position: fixed;
  opacity: 0.8;
  right: 10vw;
  user-select: none;
  bottom: 5vh;
  display: none;
}
.scrolltotop:hover {
  background-color: #112b2b;
  box-shadow: #000000c5 8px 8px 5px;
  transition: all 0.25s;
}
.scrolltotop:active {
  background-color: #0d2323;
  box-shadow: #000000c5 1px 1px 5px;
  transition: all 0.1s;
}
.contact-sidebar {
  margin-top: 20px;
  opacity: 0;
}
.social-icons-container {
  display: flex;
  position: fixed;
  opacity: 0.8;
  left: 5vw;
  bottom: 10vh;
  flex-direction: column;
  width: fit-content;
  filter: invert(94%) sepia(29%) saturate(344%) hue-rotate(177deg)
    brightness(95%) contrast(100%);
}

.social-icon {
  border-radius: 50%;
  padding: 10px 10px 9px;
  width: 21px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s;
}

.email {
  position: fixed;
  opacity: 0.8;
  right: -0.5vw;
  bottom: 25vh;
  border-radius: 100px;
  position: fixed;
  color: var(--sec);
  font-weight: lighter;
  font-size: 14px;
  transform: rotate(90deg);
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--sec);
}

#landing canvas {
  top: 0;
  position: absolute;
  z-index: -1;
}

/*Waves*/

.waves {
  position: absolute;
  z-index: -5;
  height: 200px;
  width: 100%;
  bottom: 0;
}
/*Wave 1 Left peak*/
.custom-shape-divider-bottom-1609432401 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609432401 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 141px;
}

.custom-shape-divider-bottom-1609432401 .shape-fill {
  fill: var(--acc);
  opacity: 0.7;
}

/*Wave 2 Right peak*/
.custom-shape-divider-bottom-1609432724 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609432724 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 169px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1609432724 .shape-fill {
  fill: var(--acc);
  opacity: 0.7;
}

/*Title Card*/
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60%;
  width: 45%;
  background-color: #e6eaf204;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: solid 0.5px #e6eaf209;
  background-clip: padding-box;
  box-shadow: #0000002d 1px 1px 50px;
  padding: 20px;
  /*for animation*/
  margin-top: 20px;
  opacity: 0;
}

.dp {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dp:active {
  filter: drop-shadow(#000000a1 2px 2px 5px);
}
.name {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: bold;
  font-variant: small-caps;
}

.bio {
  padding-top: 5px;
  opacity: 0.7;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: lighter;
}

.cta-container {
  display: flex;
  margin: 10px;
  /*for animation*/
  transform: scale(0.8);
  opacity: 0;
}

.cta {
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: var(--acc);
  padding: 12px;
  border-radius: 5px;
  margin: 5px;
  color: var(--sec);
  cursor: pointer;
  box-shadow: #000000a4 2px 2px 50px;
  transition: box-shadow, background-color 0.25s;
  -webkit-tap-highlight-color: transparent;
}

.cta:active {
  background-color: #0d2323;
  box-shadow: #000000c5 1px 1px 5px;
  transition: all 0.1s;
}

/*About Section*/

#about-me {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--sec);
  padding: 5% 15%;
}

.circle {
  display: block;
  background-color: var(--acc);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  /*for animation*/
  margin-top: 20px;
  opacity: 0;
}

.largecircle {
  width: 27vw;
  height: 27vw;
  right: 10%;
  top: 15%;
}

.smallcircle {
  width: 16vw;
  height: 16vw;
  left: 12%;
  bottom: 30%;
}

.about {
  background-color: #e6eaf204;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: solid 0.5px #e6eaf209;
  background-clip: padding-box;
  box-shadow: #0000002d 1px 1px 50px;
  padding: 8% 5%;
  width: 100%;
}

.section-title {
  font-weight: lighter;
  font-size: 18px;
  opacity: 0.7;
  padding: 10px 20px;
  margin: 1.5rem 0 0 0;
}
.section-sub {
  font-weight: lighter;
  font-size: 14px;
  opacity: 0.6;
  padding: 8px 20px 0px;
  margin: 0;
}

.emphasis {
  font-weight: lighter;
  margin: 0;
  padding: 0px 20px;
  line-height: 3rem;
  font-size: 2.5rem;
  /*For animation*/
  transform: translate(15px);
  opacity: 0;
}

thicc {
  font-weight: bold;
}

/*Tech Stack*/
.techstack-container {
  display: flex;
  flex-wrap: wrap;
}
.techstack {
  background-color: #e6eaf20c;
  margin: 10px;
  border-radius: 8px;
  width: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  /*for animation*/
  opacity: 0;
  transform: translate(15px);
}
.techstack img {
  max-width: 2rem;
  padding: 0 4px;
}
.techstack svg {
  padding: 4px;
}
.techstack-text {
  font-weight: lighter;
  font-size: 1rem;
  color: var(--sec);
  padding: 0 4px;
}

/*Projects*/
.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 8px;
}

.gitcard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1533335d;
  padding: 8px 20px;
  border-radius: 15px;
  box-shadow: #00000062 5px 5px 50px;

  /*for animation*/
  opacity: 0;
  transform: translate(15px);
}
.gitcard:active {
  background-color: #0d23235d;
  box-shadow: #00000062 1px 1px 5px;
  transition: all 0.1s;
}

.projtitle {
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--sec);
}
.projdesc {
  font-weight: lighter;
  font-size: 0.9rem;
  opacity: 0.7;
}
.projimg {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
.projimg img {
  max-height: 12rem;
  max-width: 100%;
  border-radius: 10px;
}
.projtech {
  padding: 4px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.club-list {
  font-weight: lighter;
  list-style: url("https://api.iconify.design/akar-icons:chevron-right.svg?color=%232c6d6d");
  line-height: 2rem;
}
.club-list li {
  /* for animation */
  opacity: 0;
}

/** For mobile devices **/
@media (max-width: 769px) {
  .custom-shape-divider-bottom-1609432401 svg {
    width: calc(100% + 1.3px);
    height: 95px;
  }
  .custom-shape-divider-bottom-1609432724 svg {
    width: calc(140% + 1.3px);
    height: 110px;
  }

  .contact-sidebar {
    display: none;
  }
  .social-icons-container {
    position: static;
    flex-direction: row;
  }
  .social-icon {
    opacity: 0;
  }
  .email {
    position: static;
    transform: none;
    opacity: 0;
  }
  .contact-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    height: 50%;
    width: 80%;
    background-color: #e6eaf208;
  }
  .dp {
    width: 200px;
    height: 200px;
  }
  .largecircle {
    transform: scale(3);
  }
  .smallcircle {
    transform: scale(4);
  }
  #about-me {
    padding: 5% 5%;
  }
  .emphasis {
    font-size: 2.2rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .gitcard {
    max-width: 100%;
  }
}
